@model Vwsuggestion
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Celebro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Public/assets/css/style.css" rel="stylesheet" type="text/css">

    <link href="~/Public/assets/css/responsive.css" rel="stylesheet" type="text/css">
  
</head>

<body>
    <div class="formappback">
        <div class="cancelform">
            <i class="fas fa-times"></i>
        </div>
        <div class="formapp1">
            <h2>Anketi doldurun,gerisi bizdə!</h2>
            @using (Html.BeginForm("index", "home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">

                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">

                        <label for="exampleInputText2">Ad,soyad</label>
                        @Html.EditorFor(model => model.Celebrity.Fullname, new { htmlAttributes = new { @class = "form-control form-controlsu2", placeholder = "Ad,soyad" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Fullname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="inputState">Peşə</label>

                        @Html.DropDownList("CategoryID", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control form-controlsu2" })
                        @Html.ValidationMessageFor(model => model.Celebrity.CategoryID, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12 ">
                        <label for="exampleInputEmail2">E-mail</label>
                        @Html.EditorFor(model => model.Celebrity.Mail, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "celebro@gmail.com" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Mail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputSocialmedia2">Sosial media hesabınız</label>
                        @Html.EditorFor(model => model.Celebrity.Socialmedia, new { htmlAttributes = new { @class = "form-control form-controlsu2", placeholder = "http:://instagram/celebro" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Socialmedia, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputSocialmedia2">Telefon nömrəniz</label>
                        @Html.EditorFor(model => model.Celebrity.Phone, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "+994 *** ** **" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputText3">Qiymət gözləntiniz</label>
                        @Html.EditorFor(model => model.Celebrity.Price, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "Gözlədiyiniz qiyməti yazın" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary btnjoinus">BİZƏ QOŞUL</button>

                    </div>
                </div>
            }


        </div>
    </div>
    <section class="tit2">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Public/assets/images/Celebro logo2.svg" class="logoimg logoimg2">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars falight">
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link2  menulist " href="#">Bütün məşhurlar </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link2   menulist " href="#">Suallar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  nav-link2  menulist " href="#">Bloq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link2  menulist " href="#">Kariyera</a>
                        </li>
                        <button class="btn btnnav btnceleb">
                            <a href="#" class="btntext">MƏŞHURSAN GƏL</a>
                        </button>

                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">

            <div class="row ">
                <div class="adtmtext2 d-flex ">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p class="adtmh2">
                            Bizimlə əməkdaşlıq edin
                        </p>
                        <p class="adtmp2 adps3">
                            Celebro şirkəti ilə bağlı fikirləriniz,bizə təklifləriniz,iş imkanları, əməkdaşlıq təkliflərinizi bu forumdan bizə bildirin.
                        </p>
                        <div class="headnav2">
                            <button class="btn btnnav2"><a href="#" class="btntext">TƏKLİF ET</a></button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <section class="sayuscenter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Bizə təkliflərinizi edin</h2>
                    @using (Html.BeginForm("index", "sayus", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.EditorFor(model => model.Suggestion.FullName, new { htmlAttributes = new { @class = "form-control form-controlsu", placeholder = "Ad,soyad" } })
                            @Html.ValidationMessageFor(model => model.Suggestion.FullName, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control form-controlsu" id="exampleInputText1" placeholder="Ad,soyad">*@
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Suggestion.Mail, new { htmlAttributes = new { @class = "form-control form-controlsu", placeholder = "Email addresi" } })
                            @Html.ValidationMessageFor(model => model.Suggestion.Mail, "", new { @class = "text-danger" })
                            @*<input type="email" class="form-control form-controlsu" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email addresi">*@
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Suggestion.Phone, new { htmlAttributes = new { @class = "form-control form-controlsu", placeholder = "Telefon nömrəsi" } })
                            @Html.ValidationMessageFor(model => model.Suggestion.Phone, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control form-controlsu" id="exampleInputPhone1" placeholder="Telefon nömrəsi">*@
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Suggestion.Text, new { @class = "form-control form-controlsu textarea1", placeholder = "Bizə təklifinizi edin" })
                            @Html.ValidationMessageFor(model => model.Suggestion.Text, "", new { @class = "text-danger" })
                            @*<textarea class="form-control form-controlsu textarea1" id="exampleFormControlTextarea1" rows="3" placeholder="Bizə təklifinizi edin"></textarea>*@
                        </div>
                        <button type="submit" class="btn btn-primary btnsuggest">BİZƏ GÖNDƏRİN</button>
                    }
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="sayusimg">
                        <img src="~/Public/assets/images/illust.svg" class="img-fluid3">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="mdetail">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex secresp">
                        <div class="security">
                            <a href="#">Gizlilik</a>
                            <span> | </span>
                            <a href="#">İstifadəçi sözləşməsi</a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="footlogo">
                            <span>© Müəlliflik hüququ 2020 celebro</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/Public/assets/js/script.js"></script>
</body>


</html>
