@model Vwform1
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Celebro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Public/assets/css/responsive.css rel="stylesheet" type="text/css">

 

</head>

<body>
    <div class="formappback">
        <div class="cancelform">
            <i class="fas fa-times"></i>
        </div>
        <div class="formapp1">
            <h2>Anketi doldurun,gerisi bizdə!</h2>
            @using (Html.BeginForm("index", "home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">

                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">

                        <label for="exampleInputText2">Ad,soyad</label>
                        @Html.EditorFor(model => model.Celebrity.Fullname, new { htmlAttributes = new { @class = "form-control form-controlsu2", placeholder = "Ad,soyad" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Fullname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="inputState">Peşə</label>

                        @Html.DropDownList("CategoryID", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control form-controlsu2" })
                        @Html.ValidationMessageFor(model => model.Celebrity.CategoryID, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12 ">
                        <label for="exampleInputEmail2">E-mail</label>
                        @Html.EditorFor(model => model.Celebrity.Mail, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "celebro@gmail.com" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Mail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputSocialmedia2">Sosial media hesabınız</label>
                        @Html.EditorFor(model => model.Celebrity.Socialmedia, new { htmlAttributes = new { @class = "form-control form-controlsu2", placeholder = "http:://instagram/celebro" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Socialmedia, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputSocialmedia2">Telefon nömrəniz</label>
                        @Html.EditorFor(model => model.Celebrity.Phone, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "+994 *** ** **" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group joinusform col-lg-6 col-md-6 col-sm-12">
                        <label for="exampleInputText3">Qiymət gözləntiniz</label>
                        @Html.EditorFor(model => model.Celebrity.Price, new { htmlAttributes = new { @class = "form-control  form-controlsu2", placeholder = "Gözlədiyiniz qiyməti yazın" } })
                        @Html.ValidationMessageFor(model => model.Celebrity.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary btnjoinus">BİZƏ QOŞUL</button>

                    </div>
                </div>
            }


        </div>
    </div>
    <section class="tit2">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Public/assets/images/Celebro logo2.svg" class="logoimg logoimg2">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars falight">
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link2  menulist " href="#">Bütün məşhurlar </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link2   menulist " href="#">Suallar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  nav-link2  menulist " href="#">Bloq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link2  menulist " href="#">Kariyera</a>
                        </li>
                        <button class="btn btnnav btnceleb">
                            <a href="#" class="btntext">MƏŞHURSAN GƏL</a>
                        </button>

                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">

            <div class="row ">
                <div class="adtmtext2 d-flex ">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <p class="adtmh2">
                            İstifadəçi xidmət müqaviləsi
                        </p>
                        <p class="adtmp2">
                            Www.celebro.com veb saytı və mobil tətbiqetmə platformanın istifadəçilərivə faydalananları aşağıda göstərilən şərtləri oxumaq və tövsiyə olunur.Aşağıdakı şərtlər qəbul edilmirsə, platformanın istifadəsi dayandırılmalı və dərhal dayandırılmalıdır. 18 yaşdan
                            kiçik insanlara platformanınistifadəçisi olmaq qadağandır. 18 yaşdan kiçik şəxslər platformadan yalnız valideynləri / qəyyumları bu istifadə şərtlərini qəbul etdikləri təqdirdə yararlanmaq hüququna malikdirlər
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="contract">
        <div class="container">
            <div class="row">
                <div class="contactinfo d-flex">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="conttext">
                            <h2>Celebro şirkəti</h2>
                            <p>
                                Şirkət, platforma vasitəsilə məşhur insanlardan, sənət adamlarından və təsir altından ("Məşhur insanlar") fərdi videoları ("Fideyo") əldə etmək imkanınız var. Celebroya müraciət edərkən və platformadan istifadə edərkən; </br>
                                Hər hansı bir qanuna və ya qaydaya zidd hərəkət etməmək;
                                </br>
                                İntellektual mülkiyyət hüquqlarını, şəxsi həyatı, şəxsi həyatı və ya digər qanuni hüquqlarını pozmamaq, pozmamaq və ya sui-istifadə etməmək, Qeyri-qanuni, təhqiramiz, təhqiramiz, böhtan xarakterli, pornoqrafik, ləyaqətsiz, hörmətsiz, ədəbsiz, nifrətli,
                                irqçi və ya digər şəkildə etirazı olan hər hansı bir şeyi yayımlamamaq, paylaşmamaq və bu məqsəd üçün istifadə etməmək;
                                </br>
                                Reklam və ya spam kimi istenmeyen və ya icazəsiz ticari mesajları göndərməmək;
                                </br>
                                Heç bir şəxsi təqlid etməmək və ya oxşar fırıldaqçılıqla məşğul olmaq. Videoları kommersiya məqsədləri üçün istifadə etməməyi, onlardan tanınmış şəxsin nüfuzuna xələl gətirəcək bir şəkildə istifadə etməməyi və onlardan istifadəyə töhfə verməməyi öhdəliyinizə
                                alırsınız.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contimg">
                            <img src="~/Public/assets/images/business-law_orig.jpg" class="img-fluid2 img-fluid">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="contactinfo d-flex">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contimg">
                            <img src="~/Public/assets/images/business-law_orig.jpg" class="img-fluid2 img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="conttext">
                            <h2>Video sifariş etmə </h2>
                            <p>
                                Vİdeo sorğusunu platformada yazılma qaydasına uyğun olaraq "tanınmış bir şəxsə" göndərdikdən sonra "tanınmış şəxs" istəyinizi qəbul etmək və ya rədd etmək üçün 48 saat var. Sorğunuz qəbul edildikdə, seçdiyiniz ödəniş metodundan
                                bir haqq tutulacaq. Tələb olunan şəxs sizin tələbinizdən imtina etməsi halları istisna olmaqla, tələbinizdən sonra geri qaytarılmayacaqdır. "Tanınmış şəxs" heç bir səbəb olmadan istəyinizi rədd edə bilər. "Məşhur şəxs"
                                istəyinizi qəbul edərsə, video 48 saat ərzində hazırlanacaqdır. "Tanınmış şəxs" video məzmununu sorğunuzun əsas mövzusu ilə əlaqədar hazırlayacağını qəbul etsəniz, ancaq təlimat və istəklərinizlə eyni şəkildə etməli deyil,
                                istənilən mühitdə, yerdə, formatda və ssenaridə hazırlaya bilərsiniz. Fideyo, tanınmış şəxsin təşəbbüsü ilə ən azı 15 Sec. və 2 dəq. Olmaq üçün istehsal olunur. Ödənişinizi aldıqdan sonra, Fideyo-ya öz şəxsi, qeyri-kommersiya
                                və reklam məqsədləri üçün istifadə etmək üçün xüsusi bir lisenziya verilir. Fideyo lisenziyalıdır və satılmır. Fideyo ilə əlaqəli hüquqlarınızı yenidən sata bilməzsiniz, reklam məqsədləri üçün, tanıtım məqsədləri üçün və
                                "tanınmış şəxslərin və üçüncü şəxslərin hüquqlarını pozan bir şəkildə istifadə edə bilməzsiniz." Bu halların hər hansı biri baş verərsə, Şirkət və tanınmış şəxslər sizi və digər istifadəçiləri məhkəməyə vermək, məzmunu
                                silmək və bloklamaq hüququnu özündə saxlayır.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="contactinfo d-flex">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="conttext">
                            <h2>Məsuliyyət və məhdudiyyət</h2>
                            <p>
                                Şirkət istifadəçilər və tanınmış insanlar arasında fərdi videosunu təqdim edir. Bu platform əyləncə və sosial təcrübə məqsədləri üçün istifadə olunur. Ondan heç bir şəkildə reklam, təşviq, kommersiya və məsləhət baxımından
                                istifadə edilə bilməz. Şirkət; Tanınmış Şəxsin uyğunluğu, qabiliyyəti və keyfiyyəti araşdırılmır. İstifadəçi olaraq "tanınmış insanların" xüsusiyyətlərini və xüsusiyyətlərini araşdırmaq məsuliyyətinizdir. Şirkət və "tanınmış
                                şəxslər" gözləntilərinizə cavab verməyən və ya başqa bir səbəblə hazırlanan məzmuna və ya məzmuna görə məsuliyyət daşımır. Tanınmış Şəxslər "Fideyo" tərəfindən fərdiləşdirilmiş videolar istifadəçi ilə qarşılıqlı əlaqə yaratmaq
                                üçün istehsal olunur. Bu məzmun, iqtisadiyyat, sağlamlıq, mədəniyyət və s. Bir istifadəçi olaraq tanıyırsınız ki, "tanınmış şəxsin və şirkətin doğru və ya yanlış ola biləcəyi bu məzmunlara görə hər hansı bir zərər və ya
                                itkiyə görə məsuliyyət daşımırıq. Görkəmli şəxs tərəfindən hazırlanan məzmunu bölüşmək və ya etməmək sizin yeganə vəzifənizdir. Tərkibi ümumiyyətlə şirkət tərəfindən yoxlanılmır və nəzarət edilmir.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contimg">
                            <img src="~/Public/assets/images/business-law_orig.jpg" class="img-fluid2 img-fluid">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="contactinfo d-flex">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contimg">
                            <img src="~/Public/assets/images/business-law_orig.jpg" class="img-fluid2 img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 mauto col-md-6 col-sm-12">
                        <div class="conttext">
                            <h2>Digər qanunlar</h2>
                            <p>
                                Səbəblər, təbii fəlakətlər, müharibə, səfərbərlik, yanğın, tətil, sağlamlıq və bənzər hallar, bir şəkildə və ya bir dərəcədə və ya tamamilə, Cəmiyyətin və ya tanınmış şəxslərdən birinin və ya hər ikisinin iş imkanlarını qismən
                                və ya tamamilə, müvəqqəti və ya daim olaraq ləğv edəcək. qəbul ediləcəkdir. İnternetin ümumi infrastrukturundakı nasazlıq səbəbindən İnternetə müvəqqəti və ya daimi fasilələr də gecikdirici səbəb kimi qəbul ediləcəkdir.
                                Razılaşdığınız müddətlərin bu halların olması halında uzadıla biləcəyinə razıysınız. Öhdəlik müddəti 72 saatdan çox olarsa, ödədiyiniz haqlar istəyinizə uyğun olaraq sizə qaytarılacaqdır. Ancaq qəbul etsəniz, bildirin və
                                öhdəlik götürdünüzsə, Şirkət və tanınmış şəxs bu səbəblərə görə məsuliyyət daşımır.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="contactinfo d-flex">
                    <div class="col-lg-6 mauto col-md-6 col-sm-12">
                        <div class="conttext">
                            <h2>Uyğunsuzluqlar</h2>
                            <p>
                                Tərəflər öz aralarında və sülh yolu ilə yarana biləcək hər hansı bir mübahisəni həll edəcəklər. Bu Sazişlə əlaqədar yarana biləcək bütün mübahisələrdə ilk növbədə bu Sazişin müddəaları tətbiq ediləcək və yerli qanunlar bu Sazişə
                                daxil edilməmiş müddəalara tətbiq ediləcəkdir.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contimg">
                            <img src="~/Public/assets/images/business-law_orig.jpg" class="img-fluid2 img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex secresp">
                        <div class="security">
                            <a href="#">Gizlilik</a>
                            <span> | </span>
                            <a href="#">İstifadəçi sözləşməsi</a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="footlogo">
                            <span>© Müəlliflik hüququ 2020 celebro</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/Public/assets/js/script.js"></script>
</body>


</html>
